<html>
  <head>
    <title></title>
  </head>
  <body>
    <form action="/file/upload" enctype="multipart/form-data" method="POST">
      <input type="file" name="filename" placeholder="filename" accept=".csv" />
      <input type="submit" value="upload" />
    </form>
  </body>
</html>
