<html>
  <head>
    <title></title>
  </head>
  <body>
    <form action="/upload" enctype="multipart/form-data" method="POST">
      <input type="file" name="filename" placeholder="filename" accept=".csv" />
      <input type="submit" value="upload" />
    </form>
    <% for(file of files){%>
    <p>
      <a href="/file/<%=file._id%>"><%= file.originalName %></a>
    </p>
    <% } %>
  </body>
</html>
